<%= form_with(model: curhat) do |form| %>
  <% if curhat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(curhat.errors.count, "error") %> prohibited this curhat from being saved:</h2>

      <ul>
        <% curhat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tema, style: "display: block" %>
    <%= form.text_field :tema %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
